spending report/Service References/remote.TransactionsOperationsService/TransactionsOperationsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64737/TransactionsOperationsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SpendingReport.Models" />
  <xs:element name="GetTransactionsByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="categoryId" type="xs:int" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionsByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SpendingReport.Models" minOccurs="0" name="GetTransactionsByUserIDResult" nillable="true" type="q1:TransactionsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTransactions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SpendingReport.Models" minOccurs="0" name="GetAllTransactionsResult" nillable="true" type="q2:TransactionsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>