spending report/Service References/remote.TransactionsOperationsService/TransactionsOperationsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SpendingReport.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SpendingReport.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TransactionsModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="TotalItems" type="xs:int" />
      <xs:element minOccurs="0" name="Transactions" nillable="true" type="tns:ArrayOfTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionsModel" nillable="true" type="tns:TransactionsModel" />
  <xs:complexType name="ArrayOfTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transaction" nillable="true" type="tns:Transaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransaction" nillable="true" type="tns:ArrayOfTransaction" />
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="BankAccount" nillable="true" type="tns:BankAccount" />
      <xs:element minOccurs="0" name="ConstantSymbol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateAvailable" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DatePosted" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecificSymbol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransacionAmount" nillable="true" type="tns:TransactionAmount" />
      <xs:element minOccurs="0" name="VariableSymbol" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaction" nillable="true" type="tns:Transaction" />
  <xs:complexType name="BankAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" type="xs:long" />
      <xs:element minOccurs="0" name="BankCode" type="xs:long" />
      <xs:element minOccurs="0" name="BankName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankAccount" nillable="true" type="tns:BankAccount" />
  <xs:complexType name="TransactionAmount">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionAmount" nillable="true" type="tns:TransactionAmount" />
</xs:schema>