spending report/Service References/remote.DriveService/DriveService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DriveService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64737/DriveService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64737/DriveService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64737/DriveService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SpendingReport.Service.Models.Cars" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDriveService_AddNewCar_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewCar" />
  </wsdl:message>
  <wsdl:message name="IDriveService_AddNewCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewCarResponse" />
  </wsdl:message>
  <wsdl:message name="IDriveService_GetCarsByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarsByUserId" />
  </wsdl:message>
  <wsdl:message name="IDriveService_GetCarsByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarsByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDriveService_GetCarById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarById" />
  </wsdl:message>
  <wsdl:message name="IDriveService_GetCarById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IDriveService">
    <wsdl:operation name="AddNewCar">
      <wsdl:input wsaw:Action="http://tempuri.org/IDriveService/AddNewCar" message="tns:IDriveService_AddNewCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDriveService/AddNewCarResponse" message="tns:IDriveService_AddNewCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarsByUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IDriveService/GetCarsByUserId" message="tns:IDriveService_GetCarsByUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDriveService/GetCarsByUserIdResponse" message="tns:IDriveService_GetCarsByUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarById">
      <wsdl:input wsaw:Action="http://tempuri.org/IDriveService/GetCarById" message="tns:IDriveService_GetCarById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDriveService/GetCarByIdResponse" message="tns:IDriveService_GetCarById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDriveService" type="tns:IDriveService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNewCar">
      <soap:operation soapAction="http://tempuri.org/IDriveService/AddNewCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarsByUserId">
      <soap:operation soapAction="http://tempuri.org/IDriveService/GetCarsByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarById">
      <soap:operation soapAction="http://tempuri.org/IDriveService/GetCarById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DriveService">
    <wsdl:port name="BasicHttpBinding_IDriveService" binding="tns:BasicHttpBinding_IDriveService">
      <soap:address location="http://localhost:64737/DriveService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>