spending report/Service References/remote.ParsingService/ParsingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SpendingReportEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SpendingReportEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Entry" nillable="true" type="tns:Entry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntry" nillable="true" type="tns:ArrayOfEntry" />
  <xs:complexType name="Entry">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmountInfo" nillable="true" type="tns:AmountInfo" />
      <xs:element minOccurs="0" name="AmountInfo_Id" type="xs:int" />
      <xs:element minOccurs="0" name="BankAccount" nillable="true" type="tns:BankAccount" />
      <xs:element minOccurs="0" name="BankAccountId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BankId" type="xs:int" />
      <xs:element minOccurs="0" name="ConstantSymbol" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="DateAdded" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateAvailable" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DatePosted" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Memo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentType" nillable="true" type="tns:PaymentType" />
      <xs:element minOccurs="0" name="PaymentTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Purposees" nillable="true" type="tns:ArrayOfPurpose" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecificSymbol" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="VariableSymbol" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Entry" nillable="true" type="tns:Entry" />
  <xs:complexType name="AmountInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Entries" nillable="true" type="tns:ArrayOfEntry" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="tns:Type" />
      <xs:element minOccurs="0" name="TypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AmountInfo" nillable="true" type="tns:AmountInfo" />
  <xs:complexType name="Type">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmountInfos" nillable="true" type="tns:ArrayOfAmountInfo" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Type" nillable="true" type="tns:Type" />
  <xs:complexType name="ArrayOfAmountInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AmountInfo" nillable="true" type="tns:AmountInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAmountInfo" nillable="true" type="tns:ArrayOfAmountInfo" />
  <xs:complexType name="BankAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Bank" nillable="true" type="tns:Bank" />
      <xs:element minOccurs="0" name="BankId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Entries" nillable="true" type="tns:ArrayOfEntry" />
      <xs:element minOccurs="0" name="IBAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankAccount" nillable="true" type="tns:BankAccount" />
  <xs:complexType name="Bank">
    <xs:sequence>
      <xs:element minOccurs="0" name="BankAccounts" nillable="true" type="tns:ArrayOfBankAccount" />
      <xs:element minOccurs="0" name="BankCode" type="xs:short" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bank" nillable="true" type="tns:Bank" />
  <xs:complexType name="ArrayOfBankAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BankAccount" nillable="true" type="tns:BankAccount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBankAccount" nillable="true" type="tns:ArrayOfBankAccount" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="BankAccounts" nillable="true" type="tns:ArrayOfBankAccount" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="PaymentType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Entries" nillable="true" type="tns:ArrayOfEntry" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentType" nillable="true" type="tns:PaymentType" />
  <xs:complexType name="ArrayOfPurpose">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Purpose" nillable="true" type="tns:Purpose" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPurpose" nillable="true" type="tns:ArrayOfPurpose" />
  <xs:complexType name="Purpose">
    <xs:sequence>
      <xs:element minOccurs="0" name="Entries" nillable="true" type="tns:ArrayOfEntry" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Purpose" nillable="true" type="tns:Purpose" />
</xs:schema>