spending report/Service References/remote.ParsingService/ParsingService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64737/ParsingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Parser.Data" />
  <xs:import schemaLocation="http://localhost:64737/ParsingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/parser.Data" />
  <xs:import schemaLocation="http://localhost:64737/ParsingService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/SpendingReportEntity4" />
  <xs:element name="SaveSavingTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Parser.Data" minOccurs="0" name="savingTransactions" nillable="true" type="q1:ArrayOfSavingTransaction" />
        <xs:element minOccurs="0" name="savingName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSavingTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Parser.Data" minOccurs="0" name="SaveSavingTransactionsResult" nillable="true" type="q2:ArrayOfSavingTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/parser.Data" minOccurs="0" name="bankPayments" nillable="true" type="q3:Import" />
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/parser.Data" minOccurs="0" name="SaveDataResult" nillable="true" type="q4:Import" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SpendingReportEntity4" minOccurs="0" name="GetTransactionsResult" nillable="true" type="q5:ArrayOfEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>