spending report/Service References/remote.ParsingService/ParsingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SpendingReportEntity4" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SpendingReportEntity4" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Entry" nillable="true" type="tns:Entry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntry" nillable="true" type="tns:ArrayOfEntry" />
  <xs:complexType name="Entry">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmountInfo" nillable="true" type="tns:AmountInfo" />
      <xs:element minOccurs="0" name="AmountInfo1" nillable="true" type="tns:AmountInfo" />
      <xs:element minOccurs="0" name="AmountInfoId" type="xs:int" />
      <xs:element minOccurs="0" name="BankId" type="xs:int" />
      <xs:element minOccurs="0" name="ConstantSymbol" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="DateAdded" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateAvailable" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DatePosted" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DestinationAccount" nillable="true" type="tns:BankAccount" />
      <xs:element minOccurs="0" name="DestinationAccountId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Memo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentType" nillable="true" type="tns:PaymentType" />
      <xs:element minOccurs="0" name="PaymentTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceAccount" nillable="true" type="tns:BankAccount" />
      <xs:element minOccurs="0" name="SourceAccountId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SpecificSymbol" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="TransactionCategorys" nillable="true" type="tns:ArrayOfTransactionCategory" />
      <xs:element minOccurs="0" name="VariableSymbol" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Entry" nillable="true" type="tns:Entry" />
  <xs:complexType name="AmountInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Entries" nillable="true" type="tns:ArrayOfEntry" />
      <xs:element minOccurs="0" name="Entries1" nillable="true" type="tns:ArrayOfEntry" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="tns:Type" />
      <xs:element minOccurs="0" name="TypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AmountInfo" nillable="true" type="tns:AmountInfo" />
  <xs:complexType name="Type">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmountInfos" nillable="true" type="tns:ArrayOfAmountInfo" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Type" nillable="true" type="tns:Type" />
  <xs:complexType name="ArrayOfAmountInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AmountInfo" nillable="true" type="tns:AmountInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAmountInfo" nillable="true" type="tns:ArrayOfAmountInfo" />
  <xs:complexType name="BankAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Bank" nillable="true" type="tns:Bank" />
      <xs:element minOccurs="0" name="BankId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Entries" nillable="true" type="tns:ArrayOfEntry" />
      <xs:element minOccurs="0" name="Entries1" nillable="true" type="tns:ArrayOfEntry" />
      <xs:element minOccurs="0" name="IBAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankAccount" nillable="true" type="tns:BankAccount" />
  <xs:complexType name="Bank">
    <xs:sequence>
      <xs:element minOccurs="0" name="BankAccounts" nillable="true" type="tns:ArrayOfBankAccount" />
      <xs:element minOccurs="0" name="BankCode" type="xs:short" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bank" nillable="true" type="tns:Bank" />
  <xs:complexType name="ArrayOfBankAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BankAccount" nillable="true" type="tns:BankAccount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBankAccount" nillable="true" type="tns:ArrayOfBankAccount" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="BankAccounts" nillable="true" type="tns:ArrayOfBankAccount" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="PaymentType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Entries" nillable="true" type="tns:ArrayOfEntry" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentType" nillable="true" type="tns:PaymentType" />
  <xs:complexType name="ArrayOfTransactionCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactionCategory" nillable="true" type="tns:TransactionCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransactionCategory" nillable="true" type="tns:ArrayOfTransactionCategory" />
  <xs:complexType name="TransactionCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryNames" nillable="true" type="tns:ArrayOfCategoryName" />
      <xs:element minOccurs="0" name="Entries" nillable="true" type="tns:ArrayOfEntry" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionCategory" nillable="true" type="tns:TransactionCategory" />
  <xs:complexType name="ArrayOfCategoryName">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryName" nillable="true" type="tns:CategoryName" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryName" nillable="true" type="tns:ArrayOfCategoryName" />
  <xs:complexType name="CategoryName">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionCategory" nillable="true" type="tns:TransactionCategory" />
      <xs:element minOccurs="0" name="TransactionCategoryId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryName" nillable="true" type="tns:CategoryName" />
</xs:schema>