spending report/Service References/remote.ParsingService/ParsingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ParsingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64737/ParsingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64737/ParsingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64737/ParsingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Parser.Data" />
      <xsd:import schemaLocation="http://localhost:64737/ParsingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/parser.Data" />
      <xsd:import schemaLocation="http://localhost:64737/ParsingService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:64737/ParsingService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/SpendingReportEntity4" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IParsingService_SaveSavingTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveSavingTransactions" />
  </wsdl:message>
  <wsdl:message name="IParsingService_SaveSavingTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveSavingTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="IParsingService_SaveData_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveData" />
  </wsdl:message>
  <wsdl:message name="IParsingService_SaveData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveDataResponse" />
  </wsdl:message>
  <wsdl:message name="IParsingService_GetTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactions" />
  </wsdl:message>
  <wsdl:message name="IParsingService_GetTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionsResponse" />
  </wsdl:message>
  <wsdl:portType name="IParsingService">
    <wsdl:operation name="SaveSavingTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/IParsingService/SaveSavingTransactions" message="tns:IParsingService_SaveSavingTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParsingService/SaveSavingTransactionsResponse" message="tns:IParsingService_SaveSavingTransactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveData">
      <wsdl:input wsaw:Action="http://tempuri.org/IParsingService/SaveData" message="tns:IParsingService_SaveData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParsingService/SaveDataResponse" message="tns:IParsingService_SaveData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/IParsingService/GetTransactions" message="tns:IParsingService_GetTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParsingService/GetTransactionsResponse" message="tns:IParsingService_GetTransactions_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IParsingService" type="tns:IParsingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveSavingTransactions">
      <soap:operation soapAction="http://tempuri.org/IParsingService/SaveSavingTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveData">
      <soap:operation soapAction="http://tempuri.org/IParsingService/SaveData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactions">
      <soap:operation soapAction="http://tempuri.org/IParsingService/GetTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ParsingService">
    <wsdl:port name="BasicHttpBinding_IParsingService" binding="tns:BasicHttpBinding_IParsingService">
      <soap:address location="http://localhost:64737/ParsingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>