spending report/Service References/remote.TransactionDescriptionService/TransactionDescriptionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TransactionDescriptionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64737/TransactionDescriptionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64737/TransactionDescriptionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64737/TransactionDescriptionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SpendingReport.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITransactionDescriptionService_AddTransactionDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTransactionDescription" />
  </wsdl:message>
  <wsdl:message name="ITransactionDescriptionService_AddTransactionDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTransactionDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionDescriptionService_GetAllTransactionDescriptions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTransactionDescriptions" />
  </wsdl:message>
  <wsdl:message name="ITransactionDescriptionService_GetAllTransactionDescriptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTransactionDescriptionsResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionDescriptionService_GetTransactionDescriptionsById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionDescriptionsById" />
  </wsdl:message>
  <wsdl:message name="ITransactionDescriptionService_GetTransactionDescriptionsById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionDescriptionsByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionDescriptionService_UpdateAllDescriptions_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAllDescriptions" />
  </wsdl:message>
  <wsdl:message name="ITransactionDescriptionService_UpdateAllDescriptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAllDescriptionsResponse" />
  </wsdl:message>
  <wsdl:portType name="ITransactionDescriptionService">
    <wsdl:operation name="AddTransactionDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionDescriptionService/AddTransactionDescription" message="tns:ITransactionDescriptionService_AddTransactionDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionDescriptionService/AddTransactionDescriptionResponse" message="tns:ITransactionDescriptionService_AddTransactionDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTransactionDescriptions">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionDescriptionService/GetAllTransactionDescriptions" message="tns:ITransactionDescriptionService_GetAllTransactionDescriptions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionDescriptionService/GetAllTransactionDescriptionsResponse" message="tns:ITransactionDescriptionService_GetAllTransactionDescriptions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionDescriptionsById">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionDescriptionService/GetTransactionDescriptionsById" message="tns:ITransactionDescriptionService_GetTransactionDescriptionsById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionDescriptionService/GetTransactionDescriptionsByIdResponse" message="tns:ITransactionDescriptionService_GetTransactionDescriptionsById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAllDescriptions">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionDescriptionService/UpdateAllDescriptions" message="tns:ITransactionDescriptionService_UpdateAllDescriptions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionDescriptionService/UpdateAllDescriptionsResponse" message="tns:ITransactionDescriptionService_UpdateAllDescriptions_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITransactionDescriptionService" type="tns:ITransactionDescriptionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddTransactionDescription">
      <soap:operation soapAction="http://tempuri.org/ITransactionDescriptionService/AddTransactionDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTransactionDescriptions">
      <soap:operation soapAction="http://tempuri.org/ITransactionDescriptionService/GetAllTransactionDescriptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionDescriptionsById">
      <soap:operation soapAction="http://tempuri.org/ITransactionDescriptionService/GetTransactionDescriptionsById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAllDescriptions">
      <soap:operation soapAction="http://tempuri.org/ITransactionDescriptionService/UpdateAllDescriptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransactionDescriptionService">
    <wsdl:port name="BasicHttpBinding_ITransactionDescriptionService" binding="tns:BasicHttpBinding_ITransactionDescriptionService">
      <soap:address location="http://localhost:64737/TransactionDescriptionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>