spending report/Service References/remote.TransactionDescriptionService/TransactionDescriptionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TransactionDescriptionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64737/TransactionDescriptionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64737/TransactionDescriptionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64737/TransactionDescriptionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SpendingReport.Service.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITransactionDescriptionService_AddTransactionCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTransactionCategory" />
  </wsdl:message>
  <wsdl:message name="ITransactionDescriptionService_AddTransactionCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTransactionCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionDescriptionService_GetAllTransactionCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTransactionCategories" />
  </wsdl:message>
  <wsdl:message name="ITransactionDescriptionService_GetAllTransactionCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTransactionCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionDescriptionService_GetTransactionCategoriesById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionCategoriesById" />
  </wsdl:message>
  <wsdl:message name="ITransactionDescriptionService_GetTransactionCategoriesById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionCategoriesByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionDescriptionService_UpdateAllCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAllCategories" />
  </wsdl:message>
  <wsdl:message name="ITransactionDescriptionService_UpdateAllCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAllCategoriesResponse" />
  </wsdl:message>
  <wsdl:portType name="ITransactionDescriptionService">
    <wsdl:operation name="AddTransactionCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionDescriptionService/AddTransactionCategory" message="tns:ITransactionDescriptionService_AddTransactionCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionDescriptionService/AddTransactionCategoryResponse" message="tns:ITransactionDescriptionService_AddTransactionCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTransactionCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionDescriptionService/GetAllTransactionCategories" message="tns:ITransactionDescriptionService_GetAllTransactionCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionDescriptionService/GetAllTransactionCategoriesResponse" message="tns:ITransactionDescriptionService_GetAllTransactionCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionCategoriesById">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionDescriptionService/GetTransactionCategoriesById" message="tns:ITransactionDescriptionService_GetTransactionCategoriesById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionDescriptionService/GetTransactionCategoriesByIdResponse" message="tns:ITransactionDescriptionService_GetTransactionCategoriesById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAllCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionDescriptionService/UpdateAllCategories" message="tns:ITransactionDescriptionService_UpdateAllCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionDescriptionService/UpdateAllCategoriesResponse" message="tns:ITransactionDescriptionService_UpdateAllCategories_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITransactionDescriptionService" type="tns:ITransactionDescriptionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddTransactionCategory">
      <soap:operation soapAction="http://tempuri.org/ITransactionDescriptionService/AddTransactionCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTransactionCategories">
      <soap:operation soapAction="http://tempuri.org/ITransactionDescriptionService/GetAllTransactionCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionCategoriesById">
      <soap:operation soapAction="http://tempuri.org/ITransactionDescriptionService/GetTransactionCategoriesById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAllCategories">
      <soap:operation soapAction="http://tempuri.org/ITransactionDescriptionService/UpdateAllCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransactionDescriptionService">
    <wsdl:port name="BasicHttpBinding_ITransactionDescriptionService" binding="tns:BasicHttpBinding_ITransactionDescriptionService">
      <soap:address location="http://localhost:64737/TransactionDescriptionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>