spending report/Service References/remote.TransactionDescriptionService/TransactionDescriptionService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SpendingReport.Service.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SpendingReport.Service.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CategoryModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CategoryBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CategoryModel" nillable="true" type="tns:CategoryModel" />
  <xs:complexType name="CategoryBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryBase" nillable="true" type="tns:CategoryBase" />
  <xs:complexType name="ArrayOfTransactionCategoriesModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactionCategoriesModel" nillable="true" type="tns:TransactionCategoriesModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransactionCategoriesModel" nillable="true" type="tns:ArrayOfTransactionCategoriesModel" />
  <xs:complexType name="TransactionCategoriesModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CategoryBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Category" nillable="true" type="tns:ArrayOfCategoryNameModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TransactionCategoriesModel" nillable="true" type="tns:TransactionCategoriesModel" />
  <xs:complexType name="ArrayOfCategoryNameModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryNameModel" nillable="true" type="tns:CategoryNameModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryNameModel" nillable="true" type="tns:ArrayOfCategoryNameModel" />
  <xs:complexType name="CategoryNameModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryNameModel" nillable="true" type="tns:CategoryNameModel" />
</xs:schema>